*{
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
}

.page__title {
  font-size: 3em;
  margin: 1em;
  display: flex;
  justify-content: start;
}

h1 {
  font-size: 1em;
}

a {
  text-decoration: none;
  list-style: none;
}

a:hover {
  cursor: pointer;
}